@model CartModel


@{
    ViewBag.Title = "Cart";
}

<html>
<head>

</head>
<br />
<br />
<br />
<br />
<body class="animsition">
    <form class="bg0 p-t-75 p-b-85">

        <div class="container">
            <br />
            <br />
            <div class="text-center">
                <p class="mb-0 " style="font-size:x-large">You have <span>@Model.Cart.ProductOrders.Count()</span> items in your cart</p>

            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="text-left my-3">
                            <div class="btn-group">
                                <a class="btn btn-dark" asp-action="Index" asp-controller="Home">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1">Product </th>
                                    <th class="column-2"></th>
                                    <th class="column-3">Price</th>
                                    <th class="column-4">Quantity</th>
                                    <th class="column-5">Total</th>
                                </tr>
                                @foreach (var item in Model.Cart?.ProductOrders ?? Enumerable.Empty<ProductOrder>())
                                {
                                    <tr class="table_row">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img src="@item.Product.ImageUrl" alt="IMG" class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                            </div>
                                        </td>
                                        <td class="column-2">@item.Product.ProductName</td>
@*                                         <td class="column-2">@item.Product.Color.Name</td>
 *@                                        <td class="column-3">@item.Product.Price.Value.ToString("C0")</td>
                                        <td class="column-4">@item.Quantity</td>
                                        <td class="column-5">
                                            @((@item.Product.Price * item.Quantity).Value.ToString("C0"))
                                        </td>
                                        <td>

                                            <form method="post" asp-action="DecreaseQuantity" asp-route-productId="@item.Product.ProductId">
                                            </form>


                                        </td>
                                        <td>

                                            <form method="post" asp-action="RemoveFromCart" asp-route-productId="@item.Product.ProductId">
                                                <button type="submit">Remove</button>
                                            </form>


                                        </td>

                                    </tr>


                                }


                            </table>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">


                            <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                                <a asp-controller="MyCart" asp-action="Clear">Clear The Cart</a>
                            </div>

                            

                        </div>
                    </div>
                </div>

                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            Cart Totals
                        </h4>

                        <div class="flex-w flex-t bor12 p-b-13">
                            <div class="size-208">
                                <span class="stext-110 cl2">
                                    Subtotal:
                                </span>
                            </div>

                            <div class="size-209">
                                <span class="mtext-110 cl2">
                                    @Model.Cart.ComputeTotalValue().ToString("C0")
                                </span>
                            </div>
                        </div>



                        <div class="flex-w flex-t p-t-27 p-b-33">
                            <div class="size-208">
                                <span class="mtext-101 cl2">
                                    Total:
                                </span>
                            </div>

                            <div class="size-209 p-t-1">
                                <span class="mtext-110 cl2">
                                    @Model.Cart.ComputeTotalValue().ToString("C0")
                                </span>
                            </div>
                        </div>

                        <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer" asp-action="Checkout" asp-controller="Order" asp-area="">
                            Proceed to Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>
</html>



