@model Product



<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
    <!-- Block2 -->
    <div class="block2">
        <div class="block2-pic hov-img0">
            <img src="@Model.ImageUrl" alt="IMG-PRODUCT" height="250" width="250">

            <a asp-controller="Product" asp-action="Get" asp-route-id="@Model.ProductId" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 " target="_blank">
                Quick View
            </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
                <a asp-controller="Product" asp-action="Get" asp-route-id="@Model.ProductId" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                    @Model.ProductName
                </a>

                <span class="stext-105 cl3">
                    @Model.Price.Value.ToString("C0")
                </span>
                <span class="stext-105 cl3">
                    @* @Model.Color.Name *@
                </span>
            </div>
            <div class="btn btn-group">



                <a href="#" data-product-id="@Model.ProductId" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail" onclick="AddToCart(this)">
                    Add to cart
                </a>


            </div>

            <div class="block2-txt-child2 flex-r p-t-3">


                <a href="#" data-product-id="@Model.ProductId" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                    <img class="icon-heart1 dis-block trans-04" src="/cozastore-master/images/icons/icon-heart-01.png" alt="ICON">
                </a>

            </div>




        </div>
    </div>
</div>


<!-- Color Selection Modal -->


 <script>
    function AddToCart(button) {

        var productId = $(button).data("product-id");

        $.ajax({
            type: "POST",
            url: "/MyCart/AddToCart",
            data: { ProductId: productId },
            cache: false,
            success: function (data) {

                swal({
                    title: "Success",
                    text: "Product added to cart! ",
                    icon: "success",
                    button: "OK"
                });
            },
            error: function (error) {

                swal({
                    title: "Error",
                    text: "An error occurred while processing your request.",
                    icon: "error",
                    button: "OK"
                });
            }
        });

        return false; // Sayfanın yeniden yüklenmesini engelle
    }
</script> 



