@model Order
@{
    var total = @Model.ProductOrders.Sum(c => c.Product.Price * c.Quantity);
}

<div class="row shadow my-3">
    <div class="col-md-3 border-1 border-dark p-3 bg-light shadow">
        <h5 class="display-5 text-center">
            <i class="fa fa-address-book text-danger"></i>
            <br />
            @(Model.Address.User.FullName ?? "Undefined")
        </h5>
        <p>Address Title :  @(Model.Address.Title ?? "Undefined")</p>
        <p>City :  @(Model.Address.City.Name ?? "Undefined")</p>
        <p>District :  @(Model.Address.District ?? "Undefined")</p>
        <p>Street :  @(Model.Address.Street ?? "Undefined")</p>
        <p>Address :  @(Model.Address.DetailedAddress ?? "Undefined")</p>
        <p>Phone Number :  @(Model.Address.PhoneNumber ?? "Undefined")</p>

        <p class="rounded-2 p-3">
            <span class="bg-warning p-2">Shipped</span>
            @{
                if (Model.Cancel == true)
                {
                    <span class="bg-info p-2">@(Model.Shipped.Value ? "The process is completed" : "The process is continuing ")</span> 
                }
                else
                {
                    <span>Order Canceled</span>
                }
            }
           
           
        </p>
    </div>
    <div class="col-md-9">
        <h3 class="display-6 mt-3 text-center">
            Cart
        </h3>
        <ul class="list-group">
            @foreach (var item in Model?.ProductOrders)
            {
                <li class="list-group-item d-flex justify-content-between brand">
                    @item.Product.ProductName
                    <p>  Color : @item.Product.Color.Name</p>
                    <b>
                        @item.Quantity * @item.Product.Price.Value.ToString("C0")
                        = @((item.Quantity * item.Product.Price).Value.ToString("C0"))
                    </b>
                </li>

                <li class="list-group-item d-flex justify-content-between brand">
                    <img src="@item.Product.ImageUrl" width="300" height="200" />
                </li>
            }
            <li class="list-group-item d-flex justify-content-between text-danger">
                Total
                <b>@total.Value.ToString("C0")</b>
            </li>
        </ul>
        <div class="text-center mt-2 p-2">
            <form method="post" asp-action="Complete" asp-controller="Order" asp-area="Admin" asp-route-id="@Model.OrderId">
                <input type="hidden" name="id" value="@Model.OrderId" />
                <button type="submit" class="btn btn-dark" disabled="@Model?.Shipped">

                    @{
                        if (Model.Shipped.Value)
                        {
                            <span>The process is Completed </span>
                        }
                        else
                        {
                            <span>Complete</span>
                        }
                    }


                </button>
                
            </form>

            <form method="post" asp-action="Cancel" asp-controller="Order" asp-area="Admin" asp-route-id="@Model.OrderId">
                <input type="hidden" name="id" value="@Model.OrderId" />
                <button type="submit" class="btn btn-danger" disabled="@(Model.Cancel == false)">
                    Cancel
                </button>
            </form>
        </div>
    </div>
</div>

